.custom-profile {
    background-color: #E8F0DF; /* Custom background color */
    color: #597445; /* Custom text color */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .custom-profile .clerk-user-profile-avatar-box {
    background-color: #597445; /* Custom avatar background color */
  }
  
  .custom-profile .clerk-user-profile-popover {
    background-color: #415B38; /* Custom popover background color */
    color: #ffffff; /* Custom popover text color */
  }
  
  .custom-profile .clerk-user-profile-card {
    background-color: #E8F0DF; /* Custom card background color */
    color: #597445; /* Custom card text color */
  }
  
  .custom-profile .clerk-user-profile-form-button-primary {
    background-color: #597445; /* Custom primary button background color */
    color: #ffffff; /* Custom primary button text color */
  }
  